<div class="well">
<% tweets = Tweet.last(50).reverse %>
<% tweets.each do |t| %>
	<% if !t.owner.nil? %>
		<% u = User.find(t.owner).username %>
		<%= "<a href='/user/#{u}'>@#{u}</a>: #{t.text} <br /><br />" %>
	<% end %>
<% end %>
</div>