<form action='/login/attempt' method='post' class="form-inline well">
  <input type="text" name='username' placeholder="username" autofocus><br /><br />
  <input type="text" name='password' placeholder="password"><br /><br />
  <input class="btn primary" type='submit' value='log in'>
</form>
<a href="/user/register" title="">Register</a>