<h3>Welcome to nanoTwitter</h3>
Please <a href="/login" title="">login</a> or <a href="/user/register" title="">register</a>.

<div class="well">
<% tweets = Tweet.find_by_sql("SELECT Tweets.owner, Tweets.text, Users.username, Users.id FROM Tweets, Users WHERE (Users.id = Tweets.owner) ORDER BY Tweets.created_at DESC LIMIT 50") %>
<% addline = false %>
<% tweets.each do |t| %>
	<% if addline %> <br /> <% end %>
	<% u = User.find_by(id: t.owner).username %>
	<%= "<a href='/user/#{u}'>@#{u}</a>: #{t.text} <br />" %>
	<% addline = true %>
<% end %>
</div>
