<br />
<div class="well">
	<h3>Welcome to nanoTwitter</h3>
	Please <a href="/login" title="">login</a> or <a href="/user/register" title="">register</a>.
	<br /><br />
</div>
<br />
<div class="well" id="allTweetsDiv">
<script type="text/javascript" async defer>
$.post("/main_page_recent_tweets", function(json) {
    for (var key in json) {
       if (json.hasOwnProperty(key)) {
       		$("#allTweetsDiv").prepend(json[key]);
       }
    }
}, "json");
</script>
</div>