<h3>Welcome to nanoTwitter</h3>
Please <a href="/login" title="">login</a> or <a href="/user/register" title="">register</a>.
<div class="well">
<% tweets = Tweet.last(50).reverse %>
<% tweets.each do |t| %>
	<%= puts t.owner %>
	<%= puts t.text %>
	<%= puts User.exists?(t.owner) %>
	<%= puts %>
<% end %>
</div>