<br />
<div class="well">
	<h3>Welcome to nanoTwitter</h3>
	Please <a href="/login" title="">login</a> or <a href="/user/register" title="">register</a>.
	<br /><br />
</div>
<br />
<div class="well">
<% tweets = Tweet.last(50).reverse %>
<% tweets.each do |t| %>
	<% if !t.owner.nil? %>
		<% u = User.find(t.owner).username %>
		<%= "<a href='/user/#{u}'>@#{u}</a>: #{t.text} <br /><br />" %>
	<% end %>
<% end %>
</div>