<% user = User.where(:username => 'test_user').take %>
<div class="well">
	<h3 style="display:inline; !important">@<%= user.username %></h3>
	<br /><br />
	<form action='/tweet' method='post' class="form-inline">
		<textarea rows="4" cols="44" placeholder="What's happening?" name="tweet"></textarea>
		<br /><br />
		<input class="btn primary" type='submit' value='tweet'>
	</form>
</div>
<div class="well">
<% followed_user_ids = Follow.select(:user_id).where(:follower_id => user.id).pluck(:user_id) %>
<% followed_user_ids.push(user.id) %>
<% tweets = Tweet.includes(:user).where(:owner => followed_user_ids).last(100).reverse %>
<% tweets.each do |t| %>
	<% if !t.owner.nil? %>
		<%= "<a href='/user/#{t.user.username}'>@#{t.user.username}</a>: #{t.text} <br /><br />" %>
	<% end %>
<% end %>
</div>