<% user = User.where(:username => 'test_user').take %>
<div class="well">
	<h3 style="display:inline; !important">@<%= user.username %></h3>
	<br /><br />
	<form action='/tweet' method='post' class="form-inline">
		<textarea rows="4" cols="44" placeholder="What's happening?" name="tweet"></textarea>
		<br /><br />
		<input class="btn primary" type='submit' value='tweet'>
	</form>
</div>
<div class="well" id="allTweetsDiv">
<script type="text/javascript" async defer>
$.post("/test_user_recent_tweets_timeline", function(json) {
    for (var key in json) {
       if (json.hasOwnProperty(key)) {
       		$("#allTweetsDiv").prepend(json[key]);
       }
    }
}, "json");
</script>
</div>