<div class="well">
	<h3 style="display:inline; !important">@<%= username %></h3>
	<br /><br />
	<form action='/tweet' method='post' class="form-inline">
		<textarea rows="4" cols="44" placeholder="What's happening?" name="tweet"></textarea>
		<br /><br />
		<input class="btn primary" type='submit' value='tweet'>
	</form>
</div>
<div class="well">
<% followed_user_ids = Follow.select(:user_id).where(:follower_id => session[:id]).pluck(:user_id) %>
<% followed_user_ids.push(session[:id]) %>
<% tweets = Tweet.where(:owner => followed_user_ids).last(50).reverse %>
<% tweets.each do |t| %>
	<% u = User.find(t.owner).username %>
	<%= "<a href='/user/#{u}'>@#{u}</a>: #{t.text} <br /><br />" %>
<% end %>
</div>