<h3>@<%=username%>'s Timeline</h3>
<form action='/tweet' method='post' class="form-inline well">
<textarea rows="4" cols="50">
</textarea>
<input class="btn primary" type='submit' value='tweet'>
</form>